<button mat-raised-button color="basic" [routerLink]="['/']">
  <mat-icon>arrow_back</mat-icon>Back
</button>
<br />
<form [formGroup]="loginForm" (ngSubmit)="onloginSubmit(loginForm, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Log in: </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Email" formControlName="email">
        <mat-error *ngIf="f.email.errors && f.email.errors.required">Email is required</mat-error>
      </mat-form-field>
      <!-- <div *ngIf="f.email.errors">{{f.email.errors | json}}</div> -->
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Password" formControlName="password">
      </mat-form-field>
      <br />
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Log in</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>Need an account? <a [routerLink]="['/register']">Sign Up Now!</a></p>
      <p>Forget password? <a href="">Get New Password</a></p>
    </mat-card-actions>
  </mat-card>
</form>
