<div class="container">
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="showFileUpload()">
      <mat-icon>cloud_upload</mat-icon>
      File Upload
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>book</mat-icon>
      Book
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>folder_shared</mat-icon>
      Contributor
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>format_list_numbered</mat-icon>
      Formal Class
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>insert_comment</mat-icon>
      Function Voice
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>wc</mat-icon>
      Gender
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>mood</mat-icon>
      Genre
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>image</mat-icon>
      Image
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>record_voice_over</mat-icon>
      Language
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>short_text</mat-icon>
      Lexia
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>check</mat-icon>
      Marking
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>business</mat-icon>
      Company
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>library_books</mat-icon>
      Passage
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>school</mat-icon>
      Research Field
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>emoji_events</mat-icon>
      Status
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>subject</mat-icon>
      Subject
    </button>
    <button mat-raised-button color="primary">
      <mat-icon>theaters</mat-icon>
      Venue
    </button>
  </div>

</div>
