<div class="container">
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="showFormFields()">
      <mat-icon>assignment</mat-icon>
      Form Fields
    </button>
    <button mat-raised-button color="primary" (click)="showFileUpload()">
      <mat-icon>cloud_upload</mat-icon>
      File Upload
    </button>
    <button mat-raised-button color="primary" (click)="showTableCrudModal()">
      <mat-icon>table_chart</mat-icon>
      Table-Filter-CRUD-Modals
    </button>
    <button mat-raised-button color="primary" (click)="showStepperWizard()">
      <mat-icon>done_outline</mat-icon>
      Stepper-Wizard
    </button>
    <button mat-raised-button color="primary" (click)="showLogin()">
      <mat-icon>vpn_key</mat-icon>
      Login/Registration
    </button>
    <button mat-raised-button color="primary" (click)="showTreeDynamicData()">
      <mat-icon>change_history</mat-icon>
      Tree with Dynamic Data
    </button>
    <button mat-raised-button color="primary" (click)="showTreeCheckboxes()">
      <mat-icon>category</mat-icon>
      Tree with Checkboxes
    </button>
    <button mat-raised-button color="primary" (click)="showChipsAutoComplete()">
      <mat-icon>filter_list</mat-icon>
      Chips Autocomplete
    </button>
    <button mat-raised-button color="primary" (click)="showChipsInput()">
      <mat-icon>power_input</mat-icon>
      Chips Input
    </button>
    <button mat-raised-button color="primary" (click)="showDragDrop()">
      <mat-icon>drag_indicator</mat-icon>
      Drag & Drop
    </button>

  </div>
</div>
